body{
    margin: 0;
    padding: 0;
}

#header{
    width: auto;
    height: 100px;
    background: bisque;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#header p{
    padding: 20px;
    text-align: center;
    font-family: Trattatello;
    font-feature-settings: normal;
    font-optical-sizing: auto;
    font-size-adjust: none;
    font-size: 40px;
    color: #925222;
}

#body{
    width: auto;
    height: auto;
    background: beige;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
}

#task1Board{
    alignment: center;
    margin-left: 40px;
    margin-right: 40px;
}

#task1Board div{
    height: 674px;
    alignment: center;
}

#leftPane{
    float: left;
    width:50%;
    background: #caffb2;
    margin: 0;
}

#leftPane table{
    width: 100%;
}

#leftPane td {
    position: relative;
    border-width: 0px;
}

#rightPane {
    background: red;
    float: left;
    width: 50%;
}

#rightPane div{
    background: bisque;
    clear: both;
    width:100%;
    height:315px;
}

#rightPane textarea{
    height: 100%;
    text-align: left;
    color: white;
    background: black;
}

#rightPane #buttonsPane select{
    width: 20%;
    height: 10%;
    text-align: center;
    alignment: center;
    margin: 1px 1px 1px 1px;
}
#rightPane #digits{
    width: 40%;
    height: 40%;
    padding: 0px;
    position: relative;
}
#rightPane #digits button{
    width:30%;
    height:25%;
    margin: 2px 1px 2px 1px;
    position: relative;
}


#rev{
    position: relative;
}

#leftPane td:after {
    content: '';
    display: block;
    margin-top: 100%;
    border-width: 0px;
}

#leftPane td button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: aliceblue;
    width: 100%;
    border-width: 0px;
}


#task1Board #midPane{
    width: 10%;
    background: #d7ea96;
}

#task1Board #rightPane{
    width: 45%;
    background:#caffb2;
}

#footer{
    clear: both;
}